/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: linear-gradient(120deg,#d6dde2, #393839);
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    color: #8B0000;;
    margin-top: 50px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin: 30px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 16px;
    margin: 10px 0 5px;
    display: block;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

button {
    background-color: #4CAF50;
    color: blue;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    font-size: 14px;
}

/* Greeting Page Styles */
.greeting-message {
    font-size: 24px;
    color: #4CAF50;
    margin-top: 50px;
}
